.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

cardDiv {}

.titleCardDiv {}

body {
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;

  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: 500;


}

.scrollView {
  overflow-y: auto;
  padding: 50px;
  align-items: center;
  display: block;
}

.number-slide1 {
  background-color: darkolivegreen;
}

.number-slide2 {
  background-color: whitesmoke;
}

.number-slide3 {
  background-color: navajowhite;
}

.number-slide4 {
  background-image: url('../src/images/Kheops-Pyramid.jpeg');
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg,
      rgba(255, 64, 156, 1) 0%,
      rgba(255, 63, 63, 1) 100%);
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg,
      rgba(64, 76, 255, 1) 0%,
      rgba(174, 63, 255, 1) 100%);
}

.mb-2 {
  border: black;
}

.navigation-wrapper {
  position: static;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  align-content: flex-start;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


.full-width {
  width: 100%;
  font-size: 10px;
}


.top-left {
  position: fixed;
  top: 8%;
  left: 5%;
  right: 10%;
  width: 20%;
  font-size: 18px;
  box-sizing: 200px;
  padding: 30px;
}

.bottom-left {
  position: relative;
  bottom: 5%;
  left: 5%;
  width: 100%;
  font-size: 18px;
  box-sizing: 25%;
}

.top-right {
  position: relative;
  top: 10%;
  left: 5%;
  width: 100%;
  box-sizing: 200px;
  padding: 30px;
}

.bottom-right1 {
  position: relative;
  top: 5%;
  bottom: 5%;
  left: 5%;
  width: 100%;
}

.bottom-right2 {
  position: relative;
  left: 5%;
  bottom: 5%;
  right: 10%;
  width: 100%;
}

.tempIcon {
  top: 40%;
  left: 15%;
}

.imgSize {
  width: 80px;

}

.average {
  position: absolute;
  right: 30%;
  padding: 10px;
}

.min {
  position: relative;
  right: 30%;
  padding: 10px;
}

.max {
  position: relative;
  right: 30%;
  top: 70%;
  padding: 10px;
}

.wind-direction {
  position: fixed;
  font-size: larger;
  padding: 10px;
}

.wind-direction-title {
  position: fixed;
  display: flex;



}

.rainfall-title {
  position: fixed;

}

.rainfall-icon {
  position: relative;
  padding: 10px;
  left: 30%;
}

.rainfall {
  position: relative;
  text-align: center;
  left: 30%;
}

.rainfall-image-size {
  position: relative;
  width: 100px;
  top: 1px;
}

.wind-direction-icon {
  position: relative;
  left: 30%;

}

.titleHeader1 {
  display: block;
  background-image: url('../src/images/amazonImage2.jpeg');
  background-size: cover;
  position: relative;
  height: 1000px;
}

.titleHeader2 {
  display: block;
  background-image: url('../src/images/zermatt-matterhorn-switzerland-shutterstock_1298208013_44fea015e5.jpeg');
  background-size: cover;
  position: relative;
  height: 1000px;


}

.titleHeader3 {
  display: block;
  background-image: url('../src/images/Kheops-Pyramid.jpeg');
  background-size: cover;
  position: relative;
  height: 1000px;




}


.stationStatusCard {
  position: relative;
  display: inline-flex;
}



.stationCordinates {
  position: relative;
  font-size: x-large;

}

.stationStatus {
  position: relative;
  font-size: x-large;


}